Debug
.vs
x64
*.sdf
*.VC.opendb

Drawer/Debug
Drawer/Release

Release/*.iobj
Release/*.ipdb
Release/*.pdb

TGUI-0.7/build
TGUI-0.7/cmake
TGUI-0.7/doc
TGUI-0.7/examples
TGUI-0.7/tests
TGUI-0.7/appveyor.yml
TGUI-0.7/Android.mk
TGUI-0.7/.travis.yml
TGUI-0.7/.gitignore